 
{% extends "templates/base.html" %}

{% block title%} {{_("Samiksha Cab Vehicles")}} {% endblock%}
{% block content%}

<div class="container">
    <h2>
        {{ _("Samiksha Cab Vehicles")}}

    </h2>

    <div class="mt-20">
        {% for vehicle in vehicles%}

        <div class="mt-8">
            <h5>{{vehicle.make}}</h5>
            
            <div>{{_("Model")}}:{{vehicle.model}} {{_("purchased in year")}} {{vehicle.year}}

            </div>
            <br>
            
        </div>
        {% endfor %}

    </div>

    <a class="btn btn-primary btn-lg" href="ride-order/new">
        {{_("Book a Ride")}} 

    </a>
</div>
{% endblock%}